@media screen and (min-width: 440px) {
  .img-fit {
    margin: 5px;
    height: 100px;
    box-sizing: border-box;
    background-color: blue;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  body {
    font-size: 14px;
  }
}

.img-fit {
  margin: 5px;
  height: 100px;

  box-sizing: border-box;
  background-color: blue;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
body {
  font-size: 20px;
}
